resource "aci_bridge_domain" "bridge_domain_{{ name_ip_w_underscores }}" {
  tenant_dn               = "${aci_tenant.tenant.id}"
  relation_fv_rs_ctx      = "${aci_vrf.vrf.name}"
  name                    = "{{ name }}"
}

resource "aci_subnet" "subnet_{{ name_ip_w_underscores }}" {
  bridge_domain_dn        = "${aci_bridge_domain.bridge_domain_{{ name_ip_w_underscores }}.id}"
  ip                      = "{{ ip_address }}"
  scope                   = "{{ scope }}"
}

resource "aci_application_epg" "epg_{{ name_ip_w_underscores }}" {
  application_profile_dn  = "${aci_application_profile.app_profile.id}"
  name                    = "${aci_bridge_domain.bridge_domain_{{ name_ip_w_underscores }}.name}"
  description             = "{{ description }}"
  relation_fv_rs_bd       = "${aci_bridge_domain.bridge_domain_{{ name_ip_w_underscores }}.name}"
}
